


/* =======Extra css start======== */
h1, h2, h3, h4, h5{
    font-family: 'Bebas Neue', cursive;
    
}
h2, h3, h5{
    color: #363958;
}
p{
    color: #515151;
}
.margin-top-buttom{
    margin: 50px 0px;
}
.coustom-border{
    border-radius: 1.25rem !important;
}
.coustom-button{
    width: 140px;
    height: 50px;
    font-weight: 600;
    border-radius: 1rem;
    text-transform: uppercase;
    background-color: #8FA927;
    color: #fff;
    
}
.coustom-button:hover{
    
    color: #fff;
    
}
.coustom-button i{
    margin-right: 9px;
}
/* =======Extra-css======== */


/* =======header-section-start======== */
.header-background{
    background-color: #ffefc58c;
}

.log-img{
    width: 75%;
}

/* =======manu-item-start======== */
.custom-manu a{
    font-size: 18px;
    font-weight: 700;
}


/* =======manu-item-start======== */




/* =======header-sectionend-end======== */




/* =======main-contant-start======== */



/* =======top-bannar-start======== */
.top-bannar-bg{
    background-color: #FFFBF0;
    padding-top: 20px;
    padding-bottom: 100px;
    
}
.costom-titel{
    margin-left: 20px;

}
.costom-titel h1{
    font-size: 50px;
    text-transform: uppercase;
}
.costom-titel span{
    color: #FABE4C;
}
/* =======top-bannar-end======== */

/* =======jacket-section-start======== */

.custom-card{
    border: 0px;
    background-color: #fff;
}
.jecket-background{
    background-color: #F1F1F1;
    width: 100%;
    height: auto;
    border-radius: 25px;
    
}
.jecket-background img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    height: 300px;

}
.custom-jacket{
    
    padding: 20px;
}
.coustom-price{

    font-size: 35px;
    font-weight: 750;
    color: #FABE4C;   
}
/* =======jacket-section-end======== */

/* =======Services-section-start======== */
.offer-img img{
    width: 100%;
    height: 350px;
}

  .offer-icon{
    width: 80px;
    height: 80px;
  }
  .coustom-border{
      border-radius: 25px;
      height: auto;
  }
/* =======Services-section-end======== */



/* =======subscribe-section-start======== */
.custom-subscribe{
    background-color: #FFFBF0;
    height: 300px;
}
/* =======subscribe-section-end======== */



/* =======main-contant-end======== */



/* =======footer-section-start======== */
#coustom-footer{
    background-color: lightslategrey;
}
 .google-img{
    width: 200px;
    width: 180px;

}
.google-img, .apple-img:hover{
    cursor: pointer;
    
}
.apple-img{
    width: 200px;
    width: 180px;
}
.coustom-copyright small, .coustom-font h1, .coustom-font h2, .coustom-font h6 {
    color: #ffffff;
}
.custom-icon i{
    color: #fff;
    font-size: 25px;
}
.custom-icon :hover i{
    color: #f09e9e;
    
}
/* =======footer-section-end======== */


@media(max-width:600px){
    .mw-center{
        text-align: center;
    }
}